@keyframes float-down {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}

.animate-float-down {
  animation: float-down 1s ease-in-out infinite;
}

.scrollbar-custom::-webkit-scrollbar {
  height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: var(--color-brown2);
  border-radius: 20px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #78350f;
}

.btn-cadastro {
    position: relative;
    overflow: hidden;
    isolation: isolate;

    background: var(--color-secondary);
    font-family: var(--font-body);

    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

.btn-cadastro::before {
    content: "";
    position: absolute;

    width: 60%;
    height: 200%;

    top: -50%;
    left: -80%;

    background: rgba(255, 255, 255, 0.25);

    transform: skewX(-25deg);
    transition: left 0.5s ease;

    z-index: -1;
}


.btn-cadastro:hover::before {
    left: 120%;
}

