<header class="sticky top-0 bg-(--color-bege-yellow) flex justify-center p-3 ">

    <!-- Conteúdo central -->
    <div class="flex items-center justify-center w-[75vw] rounded-xl gap-10">

        <button class="self-end mb-1 bg-(--color-brown2) p-2 px-4 font-medium rounded-xl text-(--color-bege2) hover:bg-amber-800 transition-all cursor-pointer">
            Contato
        </button>

        <img
            class="w-45 cursor-pointer hover:scale-105 transition-all"
            src="/icon.png"
            alt=""
        >

        <button class="self-end mb-1 bg-(--color-brown2) p-2 px-4 font-medium rounded-xl text-(--color-bege2) hover:bg-amber-800 transition-all cursor-pointer">
            Buscar
        </button>

    </div>

    <div class="absolute right-50 top-1/2 -translate-y-1/2 flex gap-5">
        
        <button (click)="this.navigateForLogin()" class="hidden sm:block px-4 py-2 rounded-full text-(--color-brown2) font-medium hover:bg-(--color-brown2)/10 transition-colors cursor-pointer">
            Entrar
        </button>

        <a routerLink="/auth/owner" class="self-end mb-1 bg-(--color-brown2) p-2 px-4 rounded-xl font-medium text-(--color-bege2) hover:bg-amber-800 transition-all cursor-pointer">
            Registrar
        </a>
    </div>

</header>